body{
background-image: url("../pics/background.png");
background-size: cover;
background-attachment: fixed;
}

#scrollupbtn {
border: none;
background-color: transparent;
position: fixed;
bottom: 5px;
right: 5px;
cursor: pointer;
}

#Navigation-Bar {
background-color: #3485ccb1;
width: 100%;
height: 10%;
padding: 10px;
font-family: 'Bauhaus 93';
color: #F4EAD5;
font-size: 24px;
position: fixed;
top: 0;
left: 0;
right: 0;
table-layout: fixed;
text-align: center;
}

h1 {
padding-left: 10px;
font-size: 44px;
display: inline;
color: #F4EAD5;
}

#inpage {
color: #FEDDA8;
}

.Sign-in-btn {
background: #ED175E;
border: none;
border-radius: 15px;
height: 50px;
width: 150px;
font-family: 'Bauhaus 93';
color: #F4EAD5;
font-size: 24px;
}

#Sign-in-btn {
text-align: right;
padding-top: 20px;
padding-right: 20px;
}

.Sign-in-btn:hover {
cursor: pointer;
background: #ad1145;
}

#Title {
font-family: 'Bauhaus 93';
color: #E14D2A;
font-size: 39px;
text-align: center;
}

hr {
border-radius: 30px;
width: 10%;
}

a {
text-decoration: none;
color: #F4EAD5;
}

#vid {
width: 60%;
height: 70%;
display: block;
margin: auto;
border-radius: 30px;
border: #E14D2A solid;
}

#tbl1 {
width: 100%;
padding: 10px;
table-layout: fixed;
border-spacing: 30px;
}

.aligncenter {
text-align: center;
}

#picture {
border-radius: 30px;
height: 420px;
}

#captxt {
color: #E14D2A;
font-family: 'Bauhaus 93';
font-size: 28px;
}

#smalltxt {
font-family: 'Berlin Sans FB';
font-size: 22px;
color: #d34626;
}

.center{
text-align: center;
}

.right {
float: right;
padding: 20px;
}