body{
background-image: url("../pics/background.png");
background-size: cover;
background-attachment: fixed;
}

#Navigation-Bar {
background-color: #3485ccb1;
width: 100%;
height: 10%;
padding: 10px;
font-family: 'Bauhaus 93';
color: #F4EAD5;
font-size: 24px;
position: fixed;
top: 0;
left: 0;
right: 0;
table-layout: fixed;
text-align: center;
}

h1 {
padding-left: 10px;
font-size: 44px;
display: inline;
color: #F4EAD5;
}

#inpage {
color: #FEDDA8;
}

.Sign-in-btn {
background: #ED175E;
border: none;
border-radius: 15px;
height: 50px;
width: 150px;
font-family: 'Bauhaus 93';
color: #F4EAD5;
font-size: 24px;
}

#Sign-in-btn {
text-align: right;
padding-top: 20px;
padding-right: 20px;
}

.Sign-in-btn:hover {
cursor: pointer;
background: #ad1145;
}

#Title {
font-family: 'Bauhaus 93';
color: #E14D2A;
font-size: 39px;
text-align: center;
}

hr {
border-radius: 30px;
}

a {
text-decoration: none;
color: #F4EAD5;
}

#p1 {
color: #E14D2A;
font-family: 'Bauhaus 93';
font-size: 40px;
text-align: center;
}

.iml{
margin-left: auto;
margin-right: auto;
border-radius: 30px;
}

#p2 {
color: #E14D2A;
font-family: 'Bauhaus 93';
font-size: 28px;
text-align: center;
}

#ans1 {
color: #E14D2A;
font-family: 'Berlin Sans FB';
font-size: 18px;
}

#ans2 {
color: #E14D2A;
font-family: 'Berlin Sans FB';
font-size: 18px;
}

#ans3 {
color: #E14D2A;
font-family: 'Berlin Sans FB';
font-size: 18px;
}

#ans4 {
color: #E14D2A;
font-family: 'Berlin Sans FB';
font-size: 18px;
}

#ans5 {
color: #E14D2A;
font-family: 'Berlin Sans FB';
font-size: 18px;
}

#ans6 {
color: #E14D2A;
font-family: 'Berlin Sans FB';
font-size: 18px;
}

#ans7 {
color: #E14D2A;
font-family: 'Berlin Sans FB';
font-size: 18px;
}

button {
border: none;
border-radius: 10px;
background-color: #ED175E;
font-family: 'Bauhaus 93';
font-size: 18px;
color: #F4EAD5;
padding: 10px;
}

button:hover {
background-color: #ad1145;
cursor: pointer;
}

.translation {
border-radius: 10px;
box-shadow: 2px 2px 5px rgba(69, 69, 69, 0.772);
position: fixed;
bottom: 5px;
left: 5px;
border: rgba(128, 128, 128, 0.761) solid 1px;
cursor: pointer;
height: 40px;
}
    
#scrollupbtn {
border: none;
background-color: transparent;
position: fixed;
bottom: 5px;
right: 5px;
cursor: pointer;
}